<launch>
  <!-- The name of your robot -->
  <arg name="my_robot"/>
  <param name="robot" value="$(arg my_robot)" />

  <!-- Are you only using the kinematic simulation (only relevant for pr2)-->
  <arg name="kinematics" default="True" />
  <param name="kinematics" value="$(arg kinematics)" />

  <!--  -->
  <include file="$(find sot_sandbox)/launch/robots/$(arg my_robot).xml" />
  <include file="$(find sot_sandbox)/launch/controller.launch" />

  <!-- initialize sot environment -->
  <node name="sot_initialization" pkg="dynamic_graph_bridge" type="run_command" 
    args="$(find sot_sandbox)/python/$(arg my_robot)_robohow_startup.py"/>

  <include file="$(find robohow_sot)/launch/sot.launch" />
  <include file="$(find robohow_sot)/launch/dummy_cram.launch" />

  <!-- display plenty of things -->
  <include file="$(find sot_sandbox)/launch/displayer.launch" />

</launch>
