<launch>
  <arg name="my_robot"/>
  <param name="robot" value="$(arg my_robot)" />
  <arg name="simulation" default="false" />

  <!-- TODO: better handling of the robot parameterization -->
  <include file="$(find sot_sandbox)/launch/robots/$(arg my_robot).xml" />
  <include file="$(find sot_sandbox)/launch/controller.launch" />
<!--
  <node name="sot_initialization" pkg="dynamic_graph_bridge" type="run_command" 
    args="$(find sot_sandbox)/python/$(arg my_robot)_test.py"/>
-->
  <node name="sot_initialization" pkg="dynamic_graph_bridge" type="run_command" 
    args="$(find sot_sandbox)/python/$(arg my_robot)_robohow_startup.py"/>

  <include file="$(find robohow_sot)/launch/sot.launch" />
  <include file="$(find robohow_sot)/launch/dummy_cram.launch" />

  <!-- display plenty of things -->
  <include file="$(find sot_sandbox)/launch/displayer.launch" />

</launch>
