<launch>
  <!-- TODO  add the name of the script in argument -->
  <param name="robot" type="string" value="PR2" />
  <!-- TODO: better handling of the robot parameterization -->
  <include file="$(find sot_pr2)/launch/display.launch" />
  <include file="$(find sot_sandbox)/launch/controller.launch" />
<!--
  <node name="sot_initialization" pkg="dynamic_graph_bridge" type="run_command" 
    args="$(find sot_sandbox)/python/pr2_test.py"/>
-->
  <node name="sot_initialization" pkg="dynamic_graph_bridge" type="run_command" 
    args="$(find sot_sandbox)/python/pr2_robohow_startup.py"/>

  <include file="$(find robohow_sot)/launch/sot.launch" />
  <include file="$(find robohow_sot)/launch/dummy_cram.launch" />
</launch>
